<div class="container-fluid">
  <div class="row bg-title">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
      <h3 class="page-title">Products</h3>
    </div>
    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
      <%= link_to 'New Product', new_product_path, :class => 'btn btn-danger pull-right m-l-20 btn-rounded btn-outline hidden-xs hidden-sm waves-effect waves-light' %>
      <ol class="breadcrumb">
        < link_to 'Dashboard /', path>
        <li class="active">Products</li>
      </ol>
    </div>
  </div>
  <!-- /.row -->
  <div class="row">
    <% @products.each do |product| %>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="white-box">
          <div class="product-img">
            <%= image_tag product.product_image.url%>
            <div class="pro-img-overlay">

              <%=link_to edit_product_path(product), :class=> 'bg-info' do %>
                <i class="ti-marker-alt"></i>
              <% end %>
              <%=link_to product, method: :delete, data: { confirm: 'Are you sure?' },
                         :class=> 'bg-danger' do %>
                <i class="ti-trash"></i>
              <% end %></div>
          </div>
          <div class="product-text">
            <%= content_tag(:span,"$#{product.price}", class: 'pro-price bg-success') %>
            <%=link_to product do %>
              <%= content_tag(:h4, product.product_name, class:'box-title m-b-0')%>
              <%= content_tag(:small, "Text for categories(TBA)", class:'text-muted db')%>
            <%end%>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <!--row -->
</div>

